<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    </body>
    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            padding-top: 40px;
            margin-bottom: 40px;
        }
        .footer {
            width: 100%;
            position: absolute;
            height: 40px;
            bottom: 0;
            background-color: #aeef90;
        }

    </style>
    <title th:text="${title} !=null ? ${title} : 'Your Spring Application Title' " ></title>
</head>
<body>

</body>
</html>